
/*맨위 버튼*/
.groupbtn {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.Btn1 {
    margin-right: 10px;
}

li {
    list-style-type: none;
}

.h5 {
    font-weight: bold;
}


/* 표 */
table {
    border-collapse: collapse;
    width: 95%;
    margin: 20px;

}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #000;
    white-space: nowrap; /* 셀 내용이 줄바꿈되지 않도록 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
}

.card-body {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}