
/*맨위 버튼*/
.groupbtn {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

/*모달 css 로 넘어감*/

/*!*데이터업로드, 변환방법 버튼, 엑셀버튼*!*/
/*.data-Btn{*/
/*    margin-right: 10px;*/
/*    padding: 5px 10px;*/
/*    border-radius: 5px;*/
/*    background-color: rgb(59,73,81);*/
/*    color: #fff;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/
/*.data-Btn:hover {*/
/*    background: rgb(229,78,43);*/
/*    color: #fff;*/
/*}*/

/*.change-data-Btn {*/
/*    margin-right: 10px;*/
/*    padding: 5px 10px;*/
/*    border-radius: 5px;*/
/*    background-color: rgb(59,73,81);*/
/*    color: #fff;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/
/*.change-data-Btn:hover {*/
/*    background: rgb(229,78,43);*/
/*    color: #fff;*/
/*}*/

/*.Excelbtn {*/
/*    padding: 5px 10px;*/
/*    border-radius: 5px;*/
/*    background-color: #217346;*/
/*    color: #fff;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*.Excelbtn:hover {*/
/*    background-color: rgba(33, 115, 70, 0.62);*/
/*    color: #fff;*/
/*}*/




li {
    list-style-type: none;
}

.h5 {
    font-weight: bold;
}


/* 표 */
table {
    border-collapse: collapse;
    width: 95%;
    margin: 20px;

}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #000;
    white-space: nowrap; /* 셀 내용이 줄바꿈되지 않도록 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
}

.card-body {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}