.btn-group {
    float: right;
}

.clear {
    clear: both;
}


li {
    list-style-type: none;
}

.h5 {
    font-weight: bold;
}


/* 표 */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: lightgray;
}

.table {
    width: 100%;
    overflow: auto;
}

/* 표 첫째줄 크기 지정 */
th:nth-child(1),
td:nth-child(1) {
    width: 150px;
    background-color: lightgray;
    font-weight: bold;
}


.card-table {
    overflow-x: auto;
    /* 가로 스크롤 가능한 영역으로 설정 */
    white-space: nowrap;
    /* 줄바꿈 방지 */
}


.title {
    color: black;
    /* 텍스트 색상을 검은색으로 설정 */
    margin-bottom: 10px;
    /* 표 제목과 표 사이의 간격 설정 */
}