.logo-image {
    width: 250px;
    height: 35px;
    margin-left: 15px;
}

.nav-link {
    font-size: 18px; /* 원하는 글자 크기로 변경 */
    font-weight: bold;
    margin-top: 8px;
}

#navbarSupportedContent {
    margin-left: 15px;
}

/*#category {*/
/*    margin-top: 10px;*/
/*}*/