/*
    1. 기간 선택 버튼
    2. 검색 버튼 부분
    3. 모달 날짜조회 버튼 css
    4. 모달 리스트
    5. 날짜 조회 후 리스트 선택 조회 후 수정알고리즘 업로드 버튼
    6. encoding 버튼 및 모달

    =================================================================================
*/







/* 1. 기간 선택 버튼*/
#startDate{
    width: 30%;
    margin-right: 10px;
}

#endDate {
    margin-left: 10px;
    width: 30%;
}


/*2. 검색 버튼 부분*/
.date-search-label {
    margin-right: 10px;
}

/*검색버튼, 검색창 그룹*/
.searchBtn {
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*검색버튼 css */

#titleButton {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(59,73,81);
    color: #fff;
    border: none;
    cursor: pointer;

    /*크기*/
    width: 100px;
    height: 30px;
    display: flex; /* 가운데 정렬을 위해 flex 사용 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
}
#titleButton:hover {
    background: rgb(229,78,43);
    color: #fff;
}

/*검색창 css*/
#searchWord {
    margin-right: 10px;
}




/*기간 검색 모달창*/
.modal-body {
    display: flex; /* 가운데 정렬을 위해 flex 사용 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
}

/* 3. 모달 날짜조회 버튼 css ===========================*/
.date-search-label {
    margin-right: 10px;
}

.modal-body {
    display: flex;
    align-items: center;
}

.modal-body input[type="date"] {
    flex-grow: 1;
    margin-right: 10px;
}


/* 4. 모달 리스트 */

.list-table th {
    background-color: #2B3035;
    color: #fff;
}


.list-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.list-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}

.clickable-list-item:hover {
    background-color: rgba(234, 234, 234, 0.5);
}


/*모달 리스트 체크*/
.checked-item {
    background-color: lightgray;
}


/*모달 리스트 페이징 버튼*/

#paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}



.list-table {
    width: 95%;
}

/* 넓은 컬럼 */
#listContainer th:nth-child(2),
#listContainer td:nth-child(2),
#listContainer th:nth-child(3),
#listContainer td:nth-child(3) {
    width: 300px;
}

/* 좁은 컬럼 */
#listContainer th:nth-child(1),
#listContainer td:nth-child(1) {
    width: 60px;
}




/* 5. 날짜 조회 후 리스트 선택 조회 후 수정알고리즘 업로드 버튼*/
.pagebtn {
    background-color: rgb(59,73,81);
    color: #fff;
}

.pagebtn.active {
    background: rgb(229,78,43);
    color: #fff;
}

.pagebtn:hover {
    background-color: rgba(59, 73, 81, 0.7);
    color: #fff;
}




/*조회 닫기 엑셀 버튼 css*/
.fetchBtn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.fetchBtn:hover{
    background-color: rgba(59, 73, 81, 0.7);
    color: #fff;
}

.Closebtn {
    padding: 5px 10px;
    border-radius: 5px;
    background: rgb(229,78,43);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.Closebtn:hover {
    background: rgba(229, 78, 43, 0.66);
    color: #fff;
}

/*엑셀 다운 버튼*/
.Excelbtn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #217346;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.Excelbtn:hover {
    background-color: rgba(33, 115, 70, 0.62);
    color: #fff;
}

/* 페이징 버튼*/
.pagination-button {
    padding: 5px 10px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}
.pagination-button:hover {
    background-color: rgba(59, 73, 81, 0.7);
    color: #fff;
}



/*파일저장 css*/
.Savebtn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.Savebtn:hover{
    background-color: rgba(59, 73, 81, 0.7);
    color: #fff;
}



/*================================================================================*/
/* 6. encoding 버튼 및 모달*/

/*데이터업로드, 변환방법 버튼, 엑셀버튼*/
.data-Btn{
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.data-Btn:hover {
    background: rgb(229,78,43);
    color: #fff;
}

.change-data-Btn {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.change-data-Btn:hover {
    background: rgb(229,78,43);
    color: #fff;
}


/*변환, 닫기 css*/

/*변환버튼*/
.change-btn{

    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.change-btn:hover{
    background-color: rgba(59, 73, 81, 0.7);
    color: #fff;
}



/*닫기버튼*/
/*Closebtn 같이씀*/