/*
    1. 날짜 검색 조회 버튼
    2. 기본 화면
    3. 버튼
    4. 파일 선택 버튼 css
    5. 표
    6. 차트
*/


/* 1. 날짜 검색 조회 버튼 */
.date-search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.show-Btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.show-Btn:hover {
    background: rgb(229,78,43);
    color: #fff;
}





.card1 {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;

}

.card input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}








/* 2. 기본 화면 ================================*/

/*li {*/
/*    list-style-type: none;*/
/*}*/

.h5 {
    font-weight: bold;

}


/*알고리즘 div*/
.title-file-group {
    margin-bottom: 20px;
}

.insert {
    margin-bottom: 20px;
}








/* 3.  버튼====================================== */
.btn-group {
    float: right;
}


.clear {
    clear: both;
}

/*저장하기, 일괄저장 버튼 */
.saveBtn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.saveBtn:hover {
    background-color: rgba(59,73,81,0.7);
    color: #fff;
}

.allSaveBtn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.allSaveBtn:hover {
    background-color: rgba(59,73,81,0.7);
    color: #fff;
}


/* 파일 업로드버튼*/
#fileUpload {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(59,73,81);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
#fileUpload:hover {
    background: rgb(229,78,43);
    color: #fff;
}




/*삭제버튼*/
.delete-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.deleteBtn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    display: flex; /* 가운데 정렬을 위해 flex 사용 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */

    background: rgb(229,78,43);
    color: #fff;
}

.deleteBtn:hover {
    background: rgba(229,78,43, 0.7);
    color: #fff;
}


/*수정 알고리즘 결과 데이터파일 숫자 버튼*/
.changeTest {
    margin-top: 20px;
}



/*파일업로드 숫자 버튼*/
.pagebtn {
    background-color: rgb(59,73,81);
    color: #fff;
}

.pagebtn.active {
    background-color: rgb(229,78,43);
    color: #fff;
}

.pagebtn:hover {
    background-color: rgba(59, 73, 81, 0.7);
    color: #fff;
}


/* 4.  파일 선택 버튼 css  =================================================*/
input[type=file]::file-selector-button {
    width: 100px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 5px;
    cursor: pointer;
}
input[type=file]::file-selector-button:hover {
    background: rgb(229,78,43);
    color: #fff;
}
.title-file-group card-body {
    display: flex;
    justify-content: space-between;
}

/*!*파일선택 요소내의 파일이름 숨기기*!*/
/*#jsonFile {*/
/*    color: transparent; !* 파일 이름 텍스트 숨기기 *!*/
/*}*/


/* 저장  */
.result-save {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



/*데이터 없을시 메세지 css*/
.message {
    font-size: 32px;
    font-weight: bold;
    color: #555;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

.message:hover {
    transform: scale(1.05);
}


/* 5. 표 ======================================================*/


table {
    border-collapse: collapse;
    width: 95%;
    margin: 20px;

}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap; /* 셀 내용이 줄바꿈되지 않도록 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
}

.alloy-table {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.material-table {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container {
    margin-bottom: 20px;
}





@media (max-width: 1600px) {
    .table-container table {
        font-size: 14px;
        table-layout: fixed;
    }

    .table-container th, .table-container td {
        max-width: 100%;
        white-space: nowrap;
    }

    .table-container {
        max-width: 95%; /* 적절한 값을 지정해주세요 */
        margin: 0 auto; /* 중앙 정렬을 위해 추가 */

    }
}

@media (max-width: 1200px) {
    .table-container table {
        font-size: 12px;
        table-layout: fixed;
    }

    .table-container th, .table-container td {
        max-width: 100%;
        white-space: nowrap;
    }

    .table-container {
        max-width: 95%; /* 적절한 값을 지정해주세요 */
        margin: 0 auto; /* 중앙 정렬을 위해 추가 */

    }
}








/* 6. 차트 ============================================================*/

#chart-title {
    margin-top: 40px;
    font-weight: bold;
    font-size: 25px;
}


.alloy_chart {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    height: 50vh;

}

.material_chart {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    height: 50vh;
}


.sort-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


#alloy_chart {
    margin: 10px;
}
#material_chart {
    margin: 10px;
}

