<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모달</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/result.css">
    <link rel="stylesheet" href="css/Modal.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>


    <script src="js/result.js"></script>
    <script src="js/Modal.js"></script>


<body>

<!-- 날짜 검색 모달창 -->
<div id="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">날짜 조회</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <div class="searchBtn">
                <input type="text" id="searchWord" placeholder="검색어 입력">
                <button id="titleButton" type="button" onclick="titleSearch()">검색</button>
            </div>
            <div class="modal-body">
                <label class="date-search-label">기간</label>
                <input type="datetime-local" id="startDate">
                <span> ~ </span>
                <input type="datetime-local" id="endDate">
            </div>
            <div id="listContainer">
                <!-- 리스트 목록이 여기에 추가될 것입니다. -->
            </div>
            <div id ="paginationContainer"></div>

            <div class="modal-footer">
                <button id="fetchButton" class="fetchBtn" onclick="fetchData()">조회</button>
                <button class="Closebtn" data-bs-dismiss="modal" onclick="closeModal()">닫기</button>
                <button  class="Excelbtn" data-bs-dismiss="modal" onclick="excelView()">미리보기(.xlsx)</button>
            </div>
            </div>
        </div>
    </div>
</div>



<!-- 파일 일괄 저장 모달 -->
<div id="allSaveModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">파일 저장</h5>
                <button class="btn-close" data-bs-dismiss="modal" onclick="closeAllSaveModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>제목 :
                    <input id="allSaveTitle" type="text" placeholder="제목 입력">
                </label>
            </div>
            <div class="modal-footer">
                <button class="Savebtn " onclick="allSaveHistory()">저장</button>
                <button class="Closebtn" onclick="closeAllSaveModal()" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>


<style>
    .radio-spacing {
        margin-right: 10px;
    }
</style>


<!-- 인코딩 파일 선택 모달 -->
<div id="choiceFileModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">변환 선택</h5>
                <button class="btn-close" data-bs-dismiss="modal" onclick="closeChoiceFileModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="files-group col-7">
                    <input name="changeFiles" id="changeFileInput" type="file" accept=".csv, .xls, .xlsx" multiple onchange="validateFileType()">
                </div>
            </div>
            <hr>
            <div class="modal-body">
                <div class="form-check radio-spacing">
                    <input class="form-check-input" type="radio" name="choiceRadio" id="standardizationRadio" checked>
                    <label class="form-check-label" for="standardizationRadio">표준화</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="choiceRadio" id="normalizationRadio">
                    <label class="form-check-label" for="normalizationRadio">정규화</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="change-btn btn " onclick="sendExcelCsv()">변환</button>
                <button class="Closebtn " onclick="closeChoiceFileModal()" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<div id="excelSaveModal" class="modal" tabindex="-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">엑셀 저장 미리보기</h5>
                <button class="btn-close" data-bs-dismiss="modal" onclick="closeExcelView()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="sortableContainer" class="sortable-list">
                    <ul id="sortable" class="sortable-list">
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="Closebtn" data-bs-dismiss="modal" onclick="closeExcelView()">닫기</button>
                <button class="Excelbtn" data-bs-dismiss="modal" onclick="excelDownload()">다운로드(.xlsx)</button>
            </div>
        </div>
    </div>
</div>


<!--ip 추가 모달-->
<div id="showIpModal" class="modal" tabindex="-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ip 주소</h5>
                <button class="btn-close" data-bs-dismiss="modal" onclick="closeIpModal()" aria-label="Close"></button>
            </div>

                <table class="list-table">
                    <thead>
                        <th>No</th>
                        <th>Ip 주소</th>
                        <th></th>
                    </thead>
                    <!-- Thymeleaf 문법을 사용하여 ipAddresses 리스트의 각 아이템을 반복하여 출력 -->
                    <tr th:each="ipAddress, index : ${ipDTOList}">
                        <td th:text="${index.index + 1}"></td>
                        <td th:text="${ipAddress.address}"></td>
                        <td>
                            <button class="Closebtn" id="delete-btn" th:attr="data-id=${ipAddress.id}" onclick="deleteIp(this.getAttribute('data-id'))">X</button>
                        </td>
                    </tr>
                </table>
            <div class="modal-footer">
                <button class="addbtn" onclick="promptOn()">추가</button>
                <button class="Closebtn" data-bs-dismiss="modal" onclick="closeIpModal()">닫기</button>
            </div>
        </div>
    </div>
</div>



<script>

    var newOrder = ['1','2','3','4','5','6'];
    $(document).ready(function() {

        const listItems = [
            "Heat 번호",
            "알고리즘(기존/수정)",
            "합금철 총 투입비용",
            "합금철 총 투입량",
            "예상용강량",
            "방법"
        ];

        const sortableList = document.getElementById("sortable");
        listItems.forEach((itemText, index) => {
            const listItem = document.createElement("li");
            listItem.classList.add("ui-state-default");
            listItem.innerHTML = `<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>${index + 1}. ${itemText}`;
            sortableList.appendChild(listItem);
        });

        var sortable = new Sortable(sortableList, {
            animation: 200, // 드래그 애니메이션 시간(ms)
            onUpdate: function(event) {
                newOrder = Array.from(sortableList.children).map(item => item.innerText.trim());
                // console.log("새로운 순서:", newOrder);
            }
        });
    });
</script>


</body>

</html>

