<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <script type="text/javascript" src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div id="excelSaveModal" class="modal" tabindex="-1">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--        <div class="modal-content">-->
<!--            &lt;!&ndash; 모달 내용 생략 &ndash;&gt;-->
<!--            <div class="modal-body">-->
<!--                <ul id="sortable" class="sortable-list">-->
<!--                    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item test</li>-->
<!--                    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>-->
<!--                    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>-->
<!--                    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>-->
<!--                    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button class="Closebtn" data-bs-dismiss="modal" onclick="closeExcelView()">닫기</button>-->
<!--                <button class="Excelbtn" data-bs-dismiss="modal" onclick="excelDownload()">다운로드(.xlsx)</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    $(function() {-->
<!--        $("#excelSaveModal").on("shown.bs.modal", function() {-->
<!--            $("#sortable").sortable();-->
<!--            $("#sortable").disableSelection();-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->


